<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Olamundo</display-name>
    <servlet-name>Olamundo</servlet-name>
    <servlet-class>Olamundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Olamundo</servlet-name>
    <url-pattern>/Olamundo</url-pattern>
  </servlet-mapping>
  <display-name>Servlet02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SalvarProduto</display-name>
    <servlet-name>SalvarProduto</servlet-name>
    <servlet-class>SalvarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarProduto</servlet-name>
    <url-pattern>/SalvarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarPessoa</display-name>
    <servlet-name>SalvarPessoa</servlet-name>
    <servlet-class>SalvarPessoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarPessoa</servlet-name>
    <url-pattern>/SalvarPessoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarLoja</display-name>
    <servlet-name>SalvarLoja</servlet-name>
    <servlet-class>SalvarLoja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarLoja</servlet-name>
    <url-pattern>/SalvarLoja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvarUsuario</display-name>
    <servlet-name>SalvarUsuario</servlet-name>
    <servlet-class>SalvarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarUsuario</servlet-name>
    <url-pattern>/SalvarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conversor</display-name>
    <servlet-name>Conversor</servlet-name>
    <servlet-class>Conversor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conversor</servlet-name>
    <url-pattern>/Conversor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculadora</display-name>
    <servlet-name>Calculadora</servlet-name>
    <servlet-class>Calculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculadora</servlet-name>
    <url-pattern>/Calculadora</url-pattern>
  </servlet-mapping>
</web-app>